@mixin sitefont {
 font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-size: $fsize;
  line-height: $fsize + 10;
  letter-spacing: 0;
  font-weight: 400;
}

@mixin transition {
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}


@mixin objectfitcover {
  object-fit: cover;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
}

@mixin verticalcenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
}

@mixin borderRadius($topLeft, $topRight, $bottomLeft, $bottomRight) { 
  border-top-left-radius: $topLeft;
  border-top-right-radius: $topRight;
  border-bottom-left-radius: $bottomLeft;
  border-bottom-right-radius: $bottomRight;
}



//mixin justify content
@mixin justifyContent($value) {
  @if $value == flexStart {
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
  }
  @if $value == flexEnd {
    -webkit-box-pack: end !important;
    -ms-flex-pack: end !important;
    justify-content: flex-end !important;
  }
  @if $value == center {
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
  }
  @if $value == spaceBetween {
    -webkit-box-pack: justify !important;
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
  }
  @if $value == spaceAround {
    -ms-flex-pack: distribute !important;
    justify-content: space-around !important;
  }
}

//mixins for devices responsive
@mixin minMax($min, $max){
  @media (min-width:$min) and (max-width:$max){
    @content;
  }
};

@mixin min($min){
  @media (min-width:$min){
    @content;
  }
};

@mixin max($max) {
  @media (max-width:$max){
    @content;
  }
};