//variables
$black: #000;
$white: #fff;
$blue: #3343e0;
$fsize: 15px;
$pink:#dc216c;
$darkblue:#303778;
$lightbg:#f5f6fd;


//devices breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1600px;