@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0;
  font-weight: 400;
}

.fbold, main .rtSection .rtSectionHeader .rtSectionHeaderSearch .icon-search, main .rtSection .rtSectionBody .rtTransactions .whiteBoxSection .whiteBoxHeader h3 {
  font-weight: 600;
}

.fsbold, main aside ul li a, main aside .linkLogout {
  font-weight: 500;
}

.container-fluid {
  width: 99%;
  margin: 0 auto;
}

.thumb {
  width: 35px;
  height: 35px;
  object-fit: cover;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
  padding: 2rem 0;
}

@media (max-width: 576px) {
  main {
    display: block;
  }
}

main aside {
  width: 15%;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

@media (max-width: 768px) {
  main aside {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  main aside {
    width: 30%;
  }
}

main aside .brand {
  margin-bottom: 4rem;
}

main aside .brand img {
  width: 120px;
}

main aside ul {
  margin: 0;
  padding: 0;
}

main aside ul li {
  margin: 30px 0;
  padding: 0;
  list-style: none;
}

main aside ul li a {
  text-decoration: none;
  color: #404040;
}

main aside ul li a .icomoon {
  font-size: 20px;
  color: #303778;
  margin-right: 15px;
  position: relative;
  top: 2px;
}

main aside ul li a:hover {
  color: #3343e0;
}

main aside ul li a:hover .icomoon {
  color: #3343e0;
}

main aside ul li a.active {
  color: #3343e0;
}

main aside ul li a.active .icomoon {
  color: #3343e0;
}

main aside .linkLogout {
  text-decoration: none;
  color: #404040;
}

@media (max-width: 576px) {
  main aside .linkLogout {
    margin-top: 20px;
  }
}

main aside .linkLogout .icomoon {
  font-size: 20px;
  color: #303778;
  margin-right: 15px;
  position: relative;
  top: 2px;
}

main aside .linkLogout:hover {
  color: #3343e0;
}

main aside .linkLogout:hover .icomoon {
  color: #3343e0;
}

main .rtSection {
  background: #f5f6fd;
  width: 80%;
  padding: 4rem 3rem 2rem 3rem;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

@media (max-width: 768px) {
  main .rtSection {
    display: block;
    padding: 2rem;
    width: 95%;
  }
}

main .rtSection .rtSectionHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
  padding: 0 0 30px 0;
  border-bottom: 1px solid #ced2f8;
}

@media (max-width: 768px) {
  main .rtSection .rtSectionHeader {
    display: block;
  }
}

main .rtSection .rtSectionHeader .rtSectionHeaderSearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

@media (max-width: 768px) {
  main .rtSection .rtSectionHeader .rtSectionHeaderSearch {
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: flex-start !important;
    margin-bottom: 15px;
  }
}

main .rtSection .rtSectionHeader .rtSectionHeaderSearch .icon-search {
  font-size: 20px;
  color: #3343e0;
  margin-right: 10px;
  line-height: 36px;
}

main .rtSection .rtSectionHeader .rtSectionHeaderSearch input[type="text"] {
  background: none;
  border: none;
}

main .rtSection .rtSectionHeader .rtSectionHeaderSearch input[type="text"]:focus {
  border: none;
  outline: none;
}

main .rtSection .rtSectionHeader .rtSectionHeaderSearch ::-webkit-input-placeholder {
  color: #8c95ed;
}

main .rtSection .rtSectionHeader .rtSectionHeaderSearch :-ms-input-placeholder {
  color: #8c95ed;
}

main .rtSection .rtSectionHeader .rtSectionHeaderSearch ::-ms-input-placeholder {
  color: #8c95ed;
}

main .rtSection .rtSectionHeader .rtSectionHeaderSearch ::placeholder {
  color: #8c95ed;
}

main .rtSection .rtSectionHeader .rtSectionHeaderUser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

main .rtSection .rtSectionHeader .rtSectionHeaderUser article {
  padding-left: 10px;
}

main .rtSection .rtSectionHeader .rtSectionHeaderUser article h6 {
  font-size: 14px;
  margin: 0;
  padding: 0;
  line-height: 15px;
  color: #000;
}

main .rtSection .rtSectionHeader .rtSectionHeaderUser article small {
  font-size: 13px;
  color: #3343e0;
  position: relative;
  top: -3px;
}

main .rtSection .rtSectionBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
  padding-top: 60px;
  position: relative;
}

@media (max-width: 992px) {
  main .rtSection .rtSectionBody {
    display: block;
  }
}

main .rtSection .rtSectionBody .addCard {
  background: #fff;
  width: 250px;
  padding: 30px;
  border: 1px solid #3343e0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 15px 25px 0 rgba(52, 68, 224, 0.2), 0 15px 25px 0 rgba(52, 68, 224, 0.19);
          box-shadow: 0 15px 25px 0 rgba(52, 68, 224, 0.2), 0 15px 25px 0 rgba(52, 68, 224, 0.19);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: absolute;
  bottom: 0;
  left: -10%;
  z-index: 9;
}

@media (max-width: 992px) {
  main .rtSection .rtSectionBody .addCard {
    position: relative;
    margin: 15px auto;
    left: 0;
  }
}

main .rtSection .rtSectionBody .addCard a {
  text-decoration: none;
  font-size: 20px;
  color: #131e80;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .rtSection .rtSectionBody .addCard a .icomoon {
  font-size: 45px;
  margin-right: 15px;
}

main .rtSection .rtSectionBody .rtSectionCards {
  width: 20%;
  position: relative;
}

@media (max-width: 768px) {
  main .rtSection .rtSectionBody .rtSectionCards {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  main .rtSection .rtSectionBody .rtSectionCards {
    width: 90%;
  }
}

main .rtSection .rtSectionBody .rtSectionCards .rtSectionCard {
  width: 100%;
  min-height: 116px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 15px;
  padding: 25px;
}

@media (max-width: 768px) {
  main .rtSection .rtSectionBody .rtSectionCards .rtSectionCard {
    width: 92%;
    padding: 15px;
  }
}

main .rtSection .rtSectionBody .rtSectionCards .rtSectionCard:nth-child(1) {
  background-image: -webkit-gradient(linear, left top, right top, from(#fb6479), color-stop(#9966fb), to(#64b4f5));
  background-image: linear-gradient(to right, #fb6479, #9966fb, #64b4f5);
}

main .rtSection .rtSectionBody .rtSectionCards .rtSectionCard:nth-child(2) {
  background-image: linear-gradient(45deg, #5d47d9, #c773a4, #f5c2ba);
}

main .rtSection .rtSectionBody .rtSectionCards .rtSectionCard:nth-child(3) {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#6493f0), color-stop(#faa1f4), to(#f7ade0));
  background-image: linear-gradient(180deg, #6493f0, #faa1f4, #f7ade0);
}

main .rtSection .rtSectionBody .rtSectionCards .rtSectionCard .cardNumber {
  padding: 10px 0;
  color: #fff;
}

main .rtSection .rtSectionBody .rtSectionCards .rtSectionCard .mastercardlogo {
  width: 50px;
  opacity: 0.5;
}

main .rtSection .rtSectionBody .rtSectionCards .rtSectionCard .validSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0;
}

main .rtSection .rtSectionBody .rtSectionCards .rtSectionCard .validSection .holderdetails {
  color: #fff;
  font-size: 13px;
  margin-right: 15px;
}

main .rtSection .rtSectionBody .rtSectionCards .rtSectionCard .validSection .holderdetails span {
  display: ablock;
}

main .rtSection .rtSectionBody .rtSectionCards .rtSectionCard .validSection .holderdetails span:nth-child(1) {
  font-weight: 200;
}

main .rtSection .rtSectionBody .rtTransactions {
  width: 72%;
}

@media (max-width: 992px) {
  main .rtSection .rtSectionBody .rtTransactions {
    width: 100%;
  }
}

main .rtSection .rtSectionBody .rtTransactions .whiteBoxSection {
  background: #fff;
  padding: 30px 30px 10px 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 30px;
}

main .rtSection .rtSectionBody .rtTransactions .whiteBoxSection .whiteBoxHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
  padding: 0 15px 25px 15px;
}

main .rtSection .rtSectionBody .rtTransactions .whiteBoxSection .whiteBoxHeader h3 {
  color: #3343e0;
  margin: 0;
  padding: 0;
}

main .rtSection .rtSectionBody .rtTransactions .whiteBoxSection .whiteBoxHeader a {
  color: #3343e0;
  text-decoration: none;
}

main .rtSection .rtSectionBody .rtTransactions .whiteBoxSection .whteBoxBody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .rtSection .rtSectionBody .rtTransactions .whiteBoxSection .whteBoxBody .whiteBoxItem {
  padding: 15px 0;
  border-bottom: 1px solid #ced2f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify !important;
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
  width: 28%;
  margin: 0 15px;
}

@media (max-width: 992px) {
  main .rtSection .rtSectionBody .rtTransactions .whiteBoxSection .whteBoxBody .whiteBoxItem {
    width: 100%;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  main .rtSection .rtSectionBody .rtTransactions .whiteBoxSection .whteBoxBody .whiteBoxItem {
    width: 43%;
  }
}

main .rtSection .rtSectionBody .rtTransactions .whiteBoxSection .whteBoxBody .whiteBoxItem:nth-last-child(-n+3) {
  border: none;
}

main .rtSection .rtSectionBody .rtTransactions .whiteBoxSection .whteBoxBody .whiteBoxItem small {
  color: #b3b3b3;
}

main .rtSection .rtSectionBody .rtTransactions .whiteBoxSection .whteBoxBody .whiteBoxItem .thumbSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .rtSection .rtSectionBody .rtTransactions .whiteBoxSection .whteBoxBody .whiteBoxItem .thumbSection h5 {
  font-size: 15px;
  color: #172396;
  line-height: 16px;
}

main .rtSection .rtSectionBody .rtTransactions .whiteBoxSection .whteBoxBody .whiteBoxItem .thumbSection .thumb {
  margin-right: 10px;
}

main .rtSection .rtSectionBody .rtTransactions .whiteBoxSection .whteBoxBody .whiteBoxItem .fundsValues {
  text-align: right;
}

main .rtSection .rtSectionBody .rtTransactions .whiteBoxSection .whteBoxBody .whiteBoxItem .fundsValues h6 {
  font-size: 15px;
  line-height: 16px;
}

main .rtSection .rtSectionBody .rtTransactions .whiteBoxSection .whteBoxBody .whiteBoxItem .fundsValues h6 span.add {
  color: #3343e0;
}

main .rtSection .rtSectionBody .rtTransactions .whiteBoxSection .whteBoxBody .whiteBoxItem .fundsValues h6 span.sub {
  color: #dc216c;
}

@media (max-width: 576px) {
  #navbar {
    display: none;
  }
}

@media (min-width: 576px) {
  .linkshowNav {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */