@import 'mixins';
@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
    margin:0;
    padding:0;
}

body{
    @include sitefont;
}

.fbold{
    font-weight: 600;;
}
.fsbold{
    font-weight: 500;;
}

.container-fluid{
    width:99%;
    margin:0 auto;
}

.thumb{
    width:35px;
    height:35px;
    @include objectfitcover;
    @include borderRadius(50%, 50%, 50%, 50%);
}
main{
    display: flex;
    @include justifyContent(spaceBetween);
    padding:2rem 0;

    @include max($sm){
        display: block;
    }

    //aside starts
    aside{
        width:15%;
        padding:2rem;
        display:flex;
        flex-direction: column;
        @include justifyContent(spaceBetween);

         @include max($md){
            width:100%;
         }
         @include minMax($md, $lg){
             width:30%;
         }


        .brand{
            margin-bottom:4rem;
           img{
               width:120px;
           }
        }
        ul{
            margin:0;
            padding:0;
            li{
                margin:30px 0;
                padding:0;
                list-style: none;
                a{
                    text-decoration: none;
                    color:lighten($black, 25%);
                    @extend .fsbold;

                    .icomoon{
                        font-size:$fsize + 5;
                        color:$darkblue;
                        margin-right:15px;
                        position:relative;
                        top:2px;
                    }

                    &:hover{
                        color:$blue;

                        .icomoon{
                        color:$blue;
                        }
                    }
                }
                a.active{
                    color:$blue;

                      .icomoon{
                        color:$blue;
                      }
                }
            }
        }
        .linkLogout{
             text-decoration: none;
            color:lighten($black, 25%);
            @extend .fsbold;

            @include max($sm){
                margin-top:20px;
            }

            .icomoon{
                font-size:$fsize + 5;
                color:$darkblue;
                margin-right:15px;
                position:relative;
                top:2px;
            }
             &:hover{
                color:$blue;

                .icomoon{
                color:$blue;
                }
            }

        }
    }
    //aside ends 

    //right section 
    .rtSection{
        background:$lightbg;
        width:80%;
        padding:4rem 3rem 2rem 3rem;
        @include borderRadius(50px, 50px, 50px, 50px);

         @include max($md){
             display: block;     
             padding:2rem; 
             width:95%;      
         }

        //right section header 
        .rtSectionHeader{
            display: flex;
            @include justifyContent(spaceBetween);
            padding:0 0 30px 0;
            border-bottom:1px solid lighten($blue, 35%);


            @include max($md){
                display: block;
            }

            .rtSectionHeaderSearch{
                display: flex;
                 @include justifyContent(spaceBetween);

                 @include max($md){
                      @include justifyContent(flexStart);
                      margin-bottom:15px;
                 }

                .icon-search{
                    font-size:$fsize + 5;
                    color:$blue;
                    @extend .fbold;
                    margin-right:10px;
                    line-height:36px;
                }
                input[type="text"]{
                    background:none;
                    border:none;

                    &:focus{
                        border:none;
                        outline:none;
                    }
                }
                ::placeholder{
                    color:lighten($blue, 20%);
                }
            }
            .rtSectionHeaderUser{
                display:flex;
                text-decoration: none;

                article{
                    padding-left:10px;

                    h6{
                    font-size:$fsize - 1;
                    margin:0;
                    padding:0;
                    line-height:15px;
                    color:$black;
                    }
                    small{
                        font-size:$fsize - 2;
                        color:$blue;
                        position:relative;
                        top:-3px;
                    }
                }
            }
        }
        //rt section header ends 

         //rt section body starts 
        .rtSectionBody{
            display:flex;
            @include justifyContent(spaceBetween);
            padding-top:60px;
            position:relative;

            @include max($lg){
                display: block;
            }

             .addCard{
                background:$white;
                width:250px;              
                padding:30px;
                border:1px solid $blue;
                display: flex;
                box-shadow: 0 15px 25px 0 rgba(52, 68, 224, 0.2), 0 15px 25px 0 rgba(52, 68, 224, 0.19);
                @include borderRadius(20px,20px,20px,20px,);              
                position:absolute;
                bottom:0;
                left:-10%; 
                z-index: 9; 

                @include max($lg){
                    position: relative;
                    margin:15px auto;
                    left:0;
                }
                
                a{
                    text-decoration: none;
                    font-size:$fsize + 5;
                    color:darken($blue, 25%);
                    display:flex;

                    .icomoon{
                        font-size:$fsize * 3;
                        margin-right:15px;
                    }
                }
            }           
            .rtSectionCards{
                width:20%;
                position:relative;   
                
                @include max($md){
                    width:100%;
                }
                  @include minMax($md, $lg){
                    width:90%;
                }

                .rtSectionCard{
                    width:100%;
                    min-height:116px;
                    @include borderRadius(20px,20px,20px,20px,);                     
                    margin-bottom:15px;
                    padding:25px;

                    @include max($md){
                        width:92%;
                        padding:15px;
                    }

                    &:nth-child(1){
                        background-image: linear-gradient(to right, #fb6479 , #9966fb, #64b4f5);
                    }
                     &:nth-child(2){
                        background-image: linear-gradient(45deg, #5d47d9 , #c773a4, #f5c2ba);
                    }
                      &:nth-child(3){
                        background-image: linear-gradient(180deg, #6493f0  , #faa1f4, #f7ade0);
                    }

                    .cardNumber{
                        padding:10px 0;
                         color:$white;
                    }

                    .mastercardlogo{
                        width:50px;
                        opacity:0.5;
                    }
                    .validSection{
                        display: flex;
                        padding:10px 0;

                        .holderdetails{
                            color:$white;
                            font-size:$fsize - 2;
                            margin-right:15px;
                            span{
                                display:ablock;
                                &:nth-child(1){
                                    font-weight: 200;
                                }
                            }
                        }
                    }
                }
            }

            .rtTransactions{
                width:72%;
                @include max($lg){
                    width:100%;
                }
                .whiteBoxSection{
                    background:$white;
                    padding:30px 30px 10px 30px;
                    @include borderRadius(20px,20px,20px,20px,);
                    margin-bottom:30px;

                    .whiteBoxHeader{
                        display:flex;
                        @include justifyContent(spaceBetween);
                        padding:0 15px 25px 15px;

                        h3{
                            color:$blue;
                            @extend .fbold;
                            margin:0;
                            padding:0;
                        }
                        a{
                            color:$blue;
                            text-decoration: none;
                        }
                    }
                    //white boxy body 
                    .whteBoxBody{
                        display:flex;
                        @include justifyContent(spaceBetween);
                        flex-wrap: wrap;
                    
                        //item
                        .whiteBoxItem{
                        padding:15px 0;
                        border-bottom:1px solid lighten($blue, 35%);
                        display:flex;
                        @include justifyContent(spaceBetween);
                        width:28%;
                        margin:0 15px;

                        @include max($lg){
                            width:100%;
                        }
                         @include minMax($lg, $xl){
                            width:43%;
                        }

                        &:nth-last-child(-n+3){
                            border:none;
                        }

                        small{
                            color:lighten($black, 70%);
                        }
                        .thumbSection{
                            display: flex;

                            h5{
                                font-size:$fsize;
                                color:darken($blue, 20%);
                                line-height:16px;
                            }

                            .thumb{
                                margin-right:10px;
                            }
                        }
                        .fundsValues{
                            text-align:right;

                            h6{
                                font-size:$fsize;
                                line-height:16px;
                            
                                span.add{
                                    color:$blue;
                                }
                                span.sub{
                                    color:$pink;
                                }
                            }
                        }
                    }
                    //item ends 
                }
                //whit eboxy body ends 
                }
            }
        }
        //rt section body ends       
    }
    //right section ends 
}

@include max($sm){
    #navbar{
        display:none;
    }
}

@include min($sm){
    .linkshowNav{
        display: none;
    }
}